<!-- view/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='icon' href='public/assets/favicon.ico' type='image/x-icon'/ >
<meta charset="UTF-8">
<title>Hub | ICO Listings</title>
<link href="https://fonts.googleapis.com/css?family=Mitr:200,300,400,500|Heebo:400" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/css/styles.css">