<div id="header-container">
    <div id="logo-container">
        <img src="/public/assets/hub-logo.svg">
        <p>Current &amp; Upcoming ICO's
        </p>
    </div>
    <div id="buttons-right">
        <button id="live-btn" onclick="liveBtnActive()">Live ICO's</button>
        <button id="upcoming-btn" onclick="upcomingBtnActive()">Upcoming ICO's</button>
    </div>
</div>