$main-font-color:#595959;
 $dark-font-color:#5e6164;
 $super-dark-font-color:#333333;
 $red-warning:#FF686B;
 $green-ok:#0CF574;
 $sub-header-bg-color:#e0e0e0;
 $body-font-size:16px;
 $box-glow:#2e9ed8;
 $btn-bg-color:#fafafa;
 $font-mitr:'Mitr', sans-serif;
 $font-warning:'Heebo', sans-serif;
 $font-extra-light:200;
 $font-light:300;
 $font-regular:400;
 $font-bold:500;
 * {
     margin: 0;
     padding: 0;
}
 body {
     color: $main-font-color;
     font-size: $body-font-size;
     font-family: $font-mitr;
     font-weight: $font-light;
}
 button {
     outline: none;
}

// NAVBAR HEADER BEGIN

 #header-container {
     display: flex;
     justify-content: space-between;
     padding: 10px;
     height: 70px;
     position: fixed;
     top: 0;
     width: 100%;
     background-color: $btn-bg-color;
     z-index: 99;
     -webkit-box-shadow: 2px 0 4px $dark-font-color;
     box-shadow: 2px 0 4px $dark-font-color;
     #logo-container {
         display: flex;
         padding-left: 20px;
         p {
             padding-top: 24px;
             padding-left: 40px;
             font-weight: $font-extra-light;
             color: $super-dark-font-color;
        }
    }
     #buttons-right {

         display: flex;
         padding-top: 6px;
         padding-right: 25px;
         button {
             height: 35px;
             font-size: .9em;
             padding: 5px 25px;
             margin: 10px;
             border: solid 2px $dark-font-color;
             border-radius: 2px;
             background-color: $btn-bg-color;
             font-family: $font-mitr;
             color: $main-font-color;
        }
         button:nth-child(1) {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
        }
         button:hover {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
             -webkit-transition: .3s;
             transition: .3s;
        }
    }
}
 @media screen and (max-width: 768px) {
     #header-container #logo-container p{
         padding: 25px 5px 0 10px;
         margin-left: 4px 
    }
}
 @media screen and (max-width: 768px) {
     #header-container #buttons-right button {
         height: 100%;
         margin: 0 4px 0 4px;
    }
}
 @media screen and (max-width: 414px) {
     #header-container {
         padding: 0;
         margin: 0;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 130px;
         #logo-container {
             justify-content: center;
             width: 50%;
             margin-bottom: 10px;
             margin-top: 10px;
             img {
                 display: flex;
                 justify-content: center;
            }
             p {
                 display: none;
            }
        }
         #buttons-right {
             padding-left: 20px;
             margin-bottom: 10px;
             justify-content: space-around;
        }
    }
}
// DROPDOWN SUBHEADER 
 #live-selected-container {

     display: flex;
     position: fixed;
     justify-content: center;
     top: 0px;
     width: 100%;
     margin-bottom: 20px;
     padding-top: 30px;
     padding-bottom: 4px;
     background-color: $sub-header-bg-color;
     -webkit-box-shadow: 2px 0 4px $box-glow;
     box-shadow: 2px 0 4px $box-glow;
}
// DROPDOWN SUBHEADER
 #upcoming-selected-container {
     display: flex;
     position: fixed;
     justify-content: center;
     top: 0px;
     width: 100%;
     margin-bottom: 20px;
     padding-top: 30px;
     padding-bottom: 4px;
     background-color: $sub-header-bg-color;
     -webkit-box-shadow: 2px 0 4px $box-glow;
     box-shadow: 2px 0 4px $box-glow;
     z-index: 50;
}
 @media screen and (max-width: 414px) {
     #live-selected-container {
         margin-top: 10%;
    }
     #upcoming-selected-container {
         margin-top: 10%;
    }
}

// NAVBAR HEADER END

// ABOUT BEGIN
 #about-container {
     margin-top: 16%;
     width: 100%;
     display: flex;
     justify-content: center;
     #about-text {
         width: 90%;
         font-size: .9em;
    }
}
 @media screen and (max-width: 1024px) {
     #about-container {
         margin-top: 18%;
    }
}
 @media screen and (max-width: 768px) {
     #about-container {
         margin-top: 24%;
    }
}
 @media screen and (max-width: 414px) {
     #about-container {
         margin-top: 50%;
    }
}

// ABOUT END

// ICO CONTAINER START 

 .ico-container {
     align-items: center;
     margin-top: 4%;
     padding: 0;
     width: 100%; 

    .ico-box {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $sub-header-bg-color;
        width: 100%;
        padding: 4px;
        text-align: center;

        img {

            padding-top: 5px;
            margin-bottom: 20px;
        }

        p {

            margin-bottom: 20px;
        }

        .ico-description {

           width: 90%;
           margin-left: 5%;
        }

        .identifier {

          font-size: .7em;
          font-weight: 500;
          color: #000;

            p {

              border-bottom: 1px solid #d8d8d8;
              margin-bottom: 4px;
              text-align: center;
            }
        }

     }
}

 .ico-box.ico-alt-box {

        background-color: $btn-bg-color;
} 

@media screen and (max-width: 414px) {
  .ico-box {
    flex-direction: column;
  }

  .ico-box p:nth-child(2), p:nth-child(3), p:nth-child(4) {

    border-right: none;
    padding-right: 0;
    margin-bottom: 20px

}

.ico-box p:nth-child(2) {

  text-align: center;
 
}
}

 @media screen and (max-width: 768px) {
     .ico-container {
         height: 100%;
    }
}
 #upcoming-ico-list {
     display: none;
}

.bold-name {

  font-weight: 400;
  font-size: 1.3em
}


// ICO CONTAINER END

// FOOTER BEGIN

 #footer-container {
     display: flex;
     justify-content: center;
}

// FOOTER END

// POPUP DISCLAIMER 
 .popup-warning {
     display: flex;
     justify-content: center;
     position: fixed;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     display: none;
     #popup-container {
         background-color: $btn-bg-color;
         -webkit-box-shadow: 2px 2px 6px $super-dark-font-color;
         box-shadow: 2px 2px 6px $super-dark-font-color;
         border-radius: 2px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         width: 100%;
         padding: 20px;
         h2 {
             color: $red-warning;
             margin-bottom: 10px;
             text-align: center;
             font-family: $font-warning;
        }
         p {
             text-indent: 4px;
        }
         p:nth-child(3) {
             margin-top: 20px;
             margin-bottom: 10px;
        }
         button {
             height: 35px;
             font-size: .9em;
             padding: 5px 25px;
             margin: 10px;
             border: solid 2px $dark-font-color;
             border-radius: 2px;
             background-color: $btn-bg-color;
             font-family: $font-mitr;
             color: $main-font-color;
             margin-top: 20px;
        }
         button:hover {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
             -webkit-transition: .3s;
             transition: .3s;
        }
    }
}

// END POPUP DISCLAIMER
 