$main-font-color:#595959;
 $dark-font-color:#5e6164;
 $super-dark-font-color:#333333;
/* Why the super-hell not? lmao*/
 $red-warning:#FF686B;
 $green-ok:#0CF574;
 $sub-header-bg-color:#e0e0e0;
 $body-font-size:16px;
 $box-glow:#2e9ed8;
 $btn-bg-color:#fafafa;
 $font-mitr:'Mitr', sans-serif;
 $font-warning:'Heebo', sans-serif;
 $font-extra-light:200;
 $font-light:300;
 $font-regular:400;
 $font-bold:500;
 * {
     margin: 0;
     padding: 0;
}
 body {
     color: $main-font-color;
     font-size: $body-font-size;
     font-family: $font-mitr;
     font-weight: $font-light;
}
 button {
     outline: none;
}
 #header-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding: 10px;
     height: 70px;
     position: fixed;
     top: 0;
     width: 100%;
     background-color: $btn-bg-color;
     z-index: 99;
     -webkit-box-shadow: 2px 0 4px $dark-font-color;
     box-shadow: 2px 0 4px $dark-font-color;
     #logo-container {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         padding-left: 20px;
         p {
             padding-top: 24px;
             padding-left: 40px;
             font-weight: $font-extra-light;
             color: $super-dark-font-color;
        }
    }
     #buttons-right {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         padding-top: 6px;
         padding-right: 25px;
         button {
             height: 35px;
             font-size: .9em;
             padding: 5px 25px;
             margin: 10px;
             border: solid 2px $dark-font-color;
             border-radius: 2px;
             background-color: $btn-bg-color;
             font-family: $font-mitr;
             color: $main-font-color;
        }
         button:nth-child(1) {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
        }
         button:hover {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
             -webkit-transition: .3s;
             transition: .3s;
        }
    }
}
 @media screen and (max-width: 768px) {
     #header-container #logo-container p{
         padding: 25px 5px 0 10px;
         margin-left: 4px 
    }
}
 @media screen and (max-width: 768px) {
     #header-container #buttons-right button {
         height: 100%;
         margin: 0 4px 0 4px;
    }
}
 @media screen and (max-width: 414px) {
     #header-container {
         padding: 0;
         margin: 0;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 130px;
         #logo-container {
             justify-content: center;
             width: 50%;
             margin-bottom: 10px;
             margin-top: 10px;
             img {
                 display: flex;
                 justify-content: center;
            }
             p {
                 display: none;
            }
        }
         #buttons-right {
             padding-left: 20px;
             margin-bottom: 10px;
             justify-content: space-around;
        }
    }
}
 #live-selected-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: fixed;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     top: 0px;
     width: 100%;
     margin-bottom: 20px;
     padding-top: 30px;
     padding-bottom: 4px;
     background-color: $sub-header-bg-color;
     -webkit-box-shadow: 2px 0 4px $box-glow;
     box-shadow: 2px 0 4px $box-glow;
}
 #upcoming-selected-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: fixed;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     top: 0px;
     width: 100%;
     margin-bottom: 20px;
     padding-top: 30px;
     padding-bottom: 4px;
     background-color: $sub-header-bg-color;
     -webkit-box-shadow: 2px 0 4px $box-glow;
     box-shadow: 2px 0 4px $box-glow;
     z-index: 50;
}
 @media screen and (max-width: 414px) {
     #live-selected-container {
         margin-top: 10%;
    }
     #upcoming-selected-container {
         margin-top: 10%;
    }
}
 #about-container {
     margin-top: 16%;
     width: 100%;
     display: flex;
     justify-content: center;
     #about-text {
         width: 90%;
         font-size: .9em;
    }
}
 @media screen and (max-width: 1024px) {
     #about-container {
         margin-top: 18%;
    }
}
 @media screen and (max-width: 768px) {
     #about-container {
         margin-top: 24%;
    }
}
 @media screen and (max-width: 414px) {
     #about-container {
         margin-top: 50%;
    }
}
 .ico-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     align-items: center;
     margin-top: 4%;
     padding: 0;
     width: 100%;
     #ico-name-title {
         width: 30.5%;
         font-size: .9em;
         font-weight: $font-bold;
    }
     #ico-description-title {
         font-size: .9em;
         font-weight: $font-bold;
         border: red solid;
    }
     #ico-end-title {
         font-size: .9em;
         font-weight: $font-bold;
    }
     .ico-box {
         border-radius: 2px;
         background-color: $btn-bg-color;
         height: 100%;
         width: 100%;
         margin: 2px 8px;
         background-color: #e8e8e8;
         display: flex;
         .ico-name {
             padding: 10px;
             width: 18%;
             display: flex;
             justify-content: center;
             align-items: center;
        }
         .ico-description {
             width: 50%;
             padding: 10px 20px;
             display: flex;
             justify-content: center;
             align-items: center;
             border-left: 2px #dadada solid;
             border-right: 2px #dadada solid;
             margin-top: 6px;
             margin-bottom: 6px;
             text-align: left;
             font-weight: $font-extra-light;
        }
         .ico-end {
             width: 10%;
             padding: 10px;
             display: flex;
             jstify-content: center;
             align-items: center;
             font-weight: $font-extra-light;
             font-size: .6em;
        }
         div.ico-img {
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 8px 10px 8px 18px;
             img {
                 width: 130px;
            }
        }
    }
     .ico-alt-box {
         background-color: $btn-bg-color;
    }
     .ico-box:hover {
         -webkit-box-shadow: 0 0 10px $box-glow;
         box-shadow: 0 0 10px $box-glow;
         -webkit-transition: .3s;
         transition: .3s;
    }
}
 @media screen and (max-width: 768px) {
     .ico-container .ico-box {
         height: 100%;
    }
}
 @media screen and (max-width: 414px) {
     .ico-container {
         .list-title-hide {
             display: none;
        }
         .ico-box {
             flex-direction: column;
             justify-content: center;
             align-items: center;
             padding: 10px 0;
             .ico-name {
                 width: 70%;
            }
             .ico-description {
                 width: 70%;
            }
             .ico-end {
                 width: 70%;
                 display: flex;
                 justify-content: center;
            }
        }
    }
}
 @media screen and (max-width: 414px) {
     .ico-container .list-header {
         display: none;
    }
}
 #upcoming-ico-list {
     display: none;
}
 #footer-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
}
 .popup-warning {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     position: fixed;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     display: none;
     #popup-container {
         background-color: $btn-bg-color;
         -webkit-box-shadow: 2px 2px 6px $super-dark-font-color;
         box-shadow: 2px 2px 6px $super-dark-font-color;
         border-radius: 2px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         width: 100%;
         padding: 20px;
         h2 {
             color: $red-warning;
             margin-bottom: 10px;
             text-align: center;
             font-family: $font-warning;
        }
         p {
             text-indent: 4px;
        }
         p:nth-child(3) {
             margin-top: 20px;
             margin-bottom: 10px;
        }
         button {
             height: 35px;
             font-size: .9em;
             padding: 5px 25px;
             margin: 10px;
             border: solid 2px $dark-font-color;
             border-radius: 2px;
             background-color: $btn-bg-color;
             font-family: $font-mitr;
             color: $main-font-color;
             margin-top: 20px;
        }
         button:hover {
             -webkit-box-shadow: 0 0 12px $box-glow;
             box-shadow: 0 0 12px $box-glow;
             -webkit-transition: .3s;
             transition: .3s;
        }
    }
}
 